name: Prefect flow CI

on:
  workflow_dispatch:
    inputs:
      pipeline:
        description: 'Input pipeline name to deploy to'
        required: true
        default: ''
        
      deploy_path:
        description: 'Input path to deploy to'
        required: true
        default: 'flow/'

      deploy_file:
        description: 'Input file to deploy to'
        required: true
        default: ''

      docker_tag:
        description: 'Input dockerfile tag to deploy to'
        required: true
        default: 'test'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Check if the folder exists
      run: |
        echo "${{ github.event.inputs.deploy_path }}"
        if ! test -d ${{ github.event.inputs.deploy_path }} ; then
          echo "${{ github.event.inputs.deploy_path }} does not exist."
          exit 1
        fi

    - name: Check if the main file exists
      run: |
        echo "${{ github.event.inputs.deploy_file }}"
        if ! test -f ${{ github.event.inputs.deploy_path }}/${{ github.event.inputs.deploy_file }} ; then
          echo "${{ github.event.inputs.deploy_file }} does not exist."
          exit 1
        fi

    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: 3.10.8

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: prefect cloud login
      run: prefect cloud login -k ${{ secrets.PREPECT_API }} --workspace ${{ secrets.PREPECT_WORKSPACE }}

    - name: Register flow to Prefect Cloud
      run: |
        python ${{ github.event.inputs.deploy_path }}/${{ github.event.inputs.deploy_file }}

    - name: Log in to Docker registry
      run: |
        echo "${{ secrets.DOCKER_USERNAME }} ${{ secrets.DOCKER_PASSWORD }} "
        echo "${{ github.event.inputs.pipeline }} ${{ github.event.inputs.docker_tag }}"
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

    - name: Build and push Docker image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/${{ github.event.inputs.pipeline }}:${{ github.event.inputs.docker_tag }} -f Dockerfile .
        docker push ${{ secrets.DOCKER_USERNAME }}/${{ github.event.inputs.pipeline }}:${{ github.event.inputs.docker_tag }}

